Host bastionNSO
 User ubuntu
 HostName <enter_ip_address__of_Bastion_host>   
 UserKnownHostsFile=~/dev/null
 IdentityFile ~/.ssh/id_rsa
 StrictHostKeyChecking no
 PasswordAuthentication no
 ControlMaster auto
 ControlPersist 5m


Host HAproxy
 User ubuntu
 HostName <ip_address_of_HAproxy> 
 UserKnownHostsFile=~/dev/null
 IdentityFile ~/.ssh/id_rsa
 StrictHostKeyChecking no
 PasswordAuthentication no
 ProxyCommand ssh -W %h:%p bastionNSO

Host devA
 User ubuntu
 HostName <ip_address_of_devA>
 IdentityFile ~/.ssh/id_rsa
 UserKnownHostsFile=~/dev/null
 StrictHostKeyChecking no
 PasswordAuthentication no
 ProxyCommand ssh -W %h:%p bastionNSO

Host devB
 User ubuntu
 HostName <ip_address_of_devB>
 IdentityFile ~/.ssh/id_rsa
 UserKnownHostsFile=~/dev/null
 StrictHostKeyChecking no
 PasswordAuthentication no
 ProxyCommand ssh -W %h:%p bastionNSO

Host devC
 user ubuntu
 HostName <ip_address_of_devC>
 IdentityFile ~/.ssh/id_rsa
 UserKnownHostsFile=~/dev/null
 StrictHostKeyChecking no
 PasswordAuthentication no
 ProxyCommand ssh -W %h:%p bastionNSO
