Host bastionET2598
   User ubuntu
   HostName <ip_address>
   IdentityFile <private keyfile path>
   UserKnownHostsFile /dev/null
   StrictHostKeyChecking no
   PasswordAuthentication no
 
Host HAproxy
   User ubuntu
   HostName <ip_address>
   IdentityFile <private keyfile path>
   StrictHostKeyChecking no
   PasswordAuthentication no 
   ProxyJump new_bastion
 
Host devA
   User ubuntu
   HostName <ip_address>
   IdentityFile <private keyfile path>
   UserKnownHostsFile=~/dev/null
   StrictHostKeyChecking no
   PasswordAuthentication no
   ProxyJump new_bastion
 
Host devB
   User ubuntu
   HostName <ip_address>
   IdentityFile <private keyfile path>
   UserKnownHostsFile=~/dev/null
   StrictHostKeyChecking no
   PasswordAuthentication no
   ProxyJump new_bastion
 
Host devC
   User ubuntu
   HostName <ip_address>
   IdentityFile <private keyfile path>
   UserKnownHostsFile=~/dev/null
   StrictHostKeyChecking no
   PasswordAuthentication no
   ProxyJump new_bastion
